{% extends 'baseBack.html.twig' %}

{% block title %}Modifier Voyage{% endblock %}

{% block body %}
    <section style="padding-top: 72px;">
    <h1 >Modifier Voyage</h1>

    {{ include('Front/voyage/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('voyage') }}">Retour à la liste</a>


    <a href="{{ path('voyageDelete', {'id': voyage.id}) }}">Supprimer</a>
    </section>
{% endblock %}
