{% for f in tab %}

<tr> 
<td> {{ f.ref}}</td>
</tr>
<tr>
<td> {{f.titre}}</td>
</tr>
{% endfor %}    
<p> nombre de formation {{tab |length}}</p>
{% for f in tab %}
{% if f.ref }=='forma55'"}
{ set nb=nb+f.nb-paritu}